* {
    margin: 0;
    padding: 0
}

html {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}

.container {
    min-width: 100%
}

.padding-site {
    padding: 50px;
    box-sizing: border-box;
    clear: both
}

.main-header {
    height: 323px;
    background-color: #445162;
}

.title {
    font-family: Arial;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    float: left;
    margin-top: -15px
}

.main-img1 {
    width: 469px;
    height: 214px;
    background-color: white;
    float: right
}

.header-list {
    display: block;
    width: 700px;
    clear: left;
    list-style-type: none;
    padding-top: 20px
}

.header-list li {
    position: relative;
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 50px
}

.header-list li:before {
    content: '';
    display: block;
    float: left;
    /*outline: 1px solid white;*/
    height: 20px;
    width: 25px;
    position: absolute;
    background-image: url(img/check_icon_346.png);
    background-size: cover;
    top: 6px;
    left: 5px;
}

.section1 {
    height: 345px;
}

.subtitle {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400px;
    color: #445161;
    float: left;
    margin-bottom: 30px;
    width: 100%;
    text-align: center
}

.text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.text1 {
    clear: left;
    width: 650px
}

.img {
    background-color: #445162;
}

.img2 {
    width: 420px;
    height: 245px;
    float: right
}

.section2 {
    height: 417px;
    background-color: #f5f5f5
}

.block1 {
    height: 70px;
    max-width: 580px;
    float: left;
    padding-right: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #445162;

}

.summary {
    position: relative
}

.comment {
    display: block;
    margin-left: 50px;
    margin-top: -30px
}

.comment:before {
    content: '+';
    display: block;
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    line-height: 90%;
    width: 32px;
    height: 32px;
    background-color: #445161;
    position: absolute;
    top: 0px;
    left: 0px;
}

/*.plus {
    width: 20px;
    height: 20px;
    background-color: #445161;
    padding: 6px;
    float: left;
    display: block*/
}

.summary {
    display: block
}

.description {
    max-width: 360px
}

.screenshot {
    height: 200px;
    max-width: 560px;
    float: left;
    margin-right: 20px
}

.screenshots_subtitle {
    color: #6c6c6c;
    font-size: 24px;
    font-weight: 400px;
    max-width: 360px;
    margin-left: 210px
}

.img3 {
    float: left;
    width: 200px;
    height: 150px;
    background-color: #445162;
    margin: 0 10px
}

.section2-figure {
    max-width: 560px;
    float: left;
    margin: 0 30px 20px 0
}

.img4 {
    float: left;
    width: 75px;
    height: 75px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #445162;
    margin: 0 10px
}

.section2-review {
    background-image: url(img/bg_review_190.png);
    display: block;
    width: 483px;
    height: 120px;
    margin-left: 95px;
    padding: 10px 5px 10px 25px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    background-size: cover
}

.section2-name {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    font-style: normal;
    padding-top: 20px
}

.section4 {
    height: 656px;
    padding-left: 150px;
    padding-right: 150px;
    position: relative
}

.block_buy {
    width: 300px;
    background-color: #445162;
    bottom: 50px;
    outline: 1px solid #445162;
    float: left;
    position: absolute
}

.block_buy_2 {
    left: 500px
}

.block_buy_3 {
    left: 850px
}

.subtitle4 {
    display: block;
    height: 50px;
    width: 300px;
    text-align: center;
    font-size: 24px;
    line-height: 200%;
    font-weight: 400px;
    color: #ffffff;

}

.price {
    display: block;
    height: 50px;
    width: 300px;
    background-color: white;
    text-align: center;
    font-size: 40px;
    line-height: 130%;
    font-weight: 400px;
    color: #445162;
}

.list {
    padding: 20px 20px 20px 40px
}

.list li {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.button_buy {
    display: block;
    width: 260px;
    height: 40px;
    background-color: white;
    margin-left: 20px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    text-align: center;
    text-decoration-line: none;
    line-height: 200%;
    margin-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.contacts {
    float: left;
    margin-left: 200px
}

.input-area {
    width: 500px;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162
}

.submit_button {
    display: block;
    width: 140px;
    height: 40px;
    background-color: white;
    margin: 20px 180px 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    text-align: center;
    text-decoration-line: none;
    line-height: 200%;
    margin-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px
}

.footer_SN {
    width: 400px;
    float: right
}

.footer_links {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-decoration-line: none;
    position: relative
}

.skype:before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(img/skype_icon_319.png);
    width: 24px;
    height: 26px;
    background-size: cover;
    float: left;
    left: -30px
}

.icq:before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(img/icq_icon_324.png);
    width: 26px;
    height: 26px;
    background-size: cover;
    float: left;
    left: -32px
}

.mail:before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(img/email_icon_332.png);
    width: 22px;
    height: 22px;
    background-size: cover;
    float: left;
    left: -32px;
    top: 2px
}

.phone:before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(img/phone_icon_337.png);
    width: 23px;
    height: 24px;
    background-size: cover;
    float: left;
    left: -34px
}

.footer_icons {
    float: left;
    margin-right: 10px;
    left: 20px
}

.twitter {
    display: block;
    width: 42px;
    height: 40px;
    background-image: url(img/SN_icons/Twitter.png);
    background-size: 100%;
}

.facebook {
    display: block;
    width: 42px;
    height: 40px;
    background-image: url(img/SN_icons/Facebook.png);
    background-size: 100%;
}

.in {
    display: block;
    width: 42px;
    height: 40px;
    background-image: url(img/SN_icons/In.png);
    background-size: 100%;
}

.google {
    display: block;
    width: 45px;
    height: 40px;
    background-image: url(img/SN_icons/Google.png);
    background-size: 100%;
}

.youtube {
    display: block;
    width: 42px;
    height: 40px;
    background-image: url(img/SN_icons/Youtube.png);
    background-size: 100%;
}
