.desk {
    display: flex;
    width: 450px;
    flex-flow: row wrap;
    /* border: 5px solid black; */
}

.white {
    height: 50px;
    width: 50px;
    background-color: #fff;
    outline: 1px solid black;
}

.white1 {
    height: 50px;
    width: 50px;
    background-color: #fff;
}

.black {
    height: 50px;
    width: 50px;
    background-color: #000000;
    outline: 1px solid black;
}

.symbols {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: larger;
}