body {
    background-color: rebeccapurple;
    position: relative;
}

#game {

    margin-bottom: 20px;
    border-collapse: collapse;
}

td {
    height: 30px;
    width: 30px;
    border: 1px solid #fff;

}





#startBtn,
#pauseBtn {
    height: 30px;
    width: 70px;
    background-color: darkgreen;
    text-align: center;
    color: #fff;
    padding: .3rem;
    box-sizing: border-box;
    float: left;
    margin-right: 40px;
}

#count {
    width: 100px;
    /* border: 1px solid maroon; */
    margin-top: 30px;
    font-size: 1.5em;
    line-height: 50%;
    font-weight: 600;
    color: yellow;
    text-align: center;
    margin-left: 200px;
    /* border: 1px solid red; */

}

.blockBody {
    background-color: red;
    border-color: blue;
}

.waterBody {
    background-color: lightseagreen;
    border-color: #fff);
}

#message {
    position: absolute;
    top: 250px;
    background-color: blue;
    font-size: 3em;
    width: 100%;
    line-height: 100%;
    font-weight: 600;
    color: red;
    text-align: center;
    margin-top: 20px;
}

.transpCells {
    border: none;
}